.img-perfil {
    border-radius: 360px;
    width: 50%;
    height: 100%;
    /* sombreado */
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.fondo {
    width: 100%;
    padding-bottom: 10%;
    background: #5dbeff;
    background: linear-gradient(to right, #2a7fee, #33aeff);
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
}

.cuerpo {
    /* background: linear-gradient(to right, #161616, #2b2f31); */
}

.none {
    text-decoration: none;
}